.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron{
  display: flex;
  flex-direction: column;
  width: 60vw;
  background-color: rgba(230,230,230,1);
  margin:auto;
  margin-top: 20px;
  padding: 20px;
}

.jumbotron>p{
  margin-right: auto;
}
.jumbotron .author{
  margin-top: 15px;
  margin-left: auto;
}
.archivedICon :active {
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(-10px);
}